@font-face {
	font-family: News Cycle;
	src: url('../fonts/NewsCycle-Regular.eot');
	src: local("News Cycle"), url('../fonts/NewsCycle-Regular.ttf');
}

html {
	width: 1024px;
	height: 500px;
}

* {
	margin: 0;
	padding: 0;
}

body {
	font: normal .80em arial, sans-serif;
	background:blue;	
/*	background: none repeat scroll 0% 0% rgb(0, 80,140 );
	color: #AAA;
 * 
 */
	color: black;
}



header {
	background: transparent;
	height: 40px;
	text-align: center;
}

nav {
	width: 1024px;
	font: 100% 'Yanone Kaffeesatz', arial, sans-serif;
	height: 40px;
	padding: 1px 1px 1px 1px;
	text-align: center;
	background: #39FF00; /* Show a solid color for older browsers */
	background: -moz-linear-gradient(#ffffff, #39FF00);
	background: -o-linear-gradient(#ffffff, #39FF00);
	background: -webkit-linear-gradient(#ffffff, #39FF00);
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px;
	-moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px;
	border: 1px solid #000;
	border-radius: 7px 7px 7px 7px;
	-moz-border-radius: 7px 7px 7px 7px;
	-webkit-border: 7px 7px 7px 7px;
	color: black;
}

footer {
	width: 1024px;
	font: 100% 'Yanone Kaffeesatz', arial, sans-serif;
	height: 40px;
	padding: 1px 1px 1px 1px;
	text-align: center;
	background: #39FF00; /* Show a solid color for older browsers */
	background: -moz-linear-gradient(#ffffff, #39FF00);
	background: -o-linear-gradient(#ffffff, #39FF00);
	background: -webkit-linear-gradient(#ffffff, #39FF00);
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px;
	-moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px;
	border: 1px solid #000;
	border-radius: 7px 7px 7px 7px;
	-moz-border-radius: 7px 7px 7px 7px;
	-webkit-border: 7px 7px 7px 7px;
	color: black;
}

footer p {
	line-height: 1.7em;
	padding: 0 0 10px 0;
}


#main {
	width: 1024px;
	height: 470px;
	background: transparent;
	border: 1px groove red;
	padding: 1px 1px 1px 1px;
	position: relative;
}
#field {
	width: 800px;
	height: 450px;
	background: transparent;
	border: 5px groove red;
	padding: 5px 5px 5px 5px;
	float: left;
}

#scores {
	width: 170px;
	height: 450px;
	background: yellow;
/*	background: transparent;*/
	border: 5px groove red;
	padding: 5px 5px 5px 5px;
	float: left;
}

