@font-face {
	font-family: News Cycle;
	src: url('../fonts/NewsCycle-Regular.eot');
	src: local("News Cycle"), url('../fonts/NewsCycle-Regular.ttf');
}

html {
	background: blue;
	width: 100%;
	height: 100%;
}

* {
	margin: 0;
	padding: 0;
}

body {
	font: normal .80em arial, sans-serif;
	color: black;
	height:100%;
}

header {
	width: 100%;
	height: 5%;
	font: 50% 'Yanone Kaffeesatz', arial, sans-serif;
	text-align: center;
	background: #4CA20B;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	border: #FFFFFF solid 1px;
	border-radius: 7px 7px 7px 7px;
	color: #FFFFFF;
}

nav {
	width: 100%;
	height: 5%;
	font: 60% 'Yanone Kaffeesatz', arial, sans-serif;
	text-align: center;
	background: linear-gradient(#ffffff, #FFD800);
	border: #FFFFFF solid 1px;
	border-radius: 7px 7px 7px 7px;
	color: #FFFFFF;
}

footer {
	width: 100%;
	height: 3%;
	font: 50% 'Yanone Kaffeesatz', arial, sans-serif;
	text-align: center;
	background: #4CA20B;
	border: #FFFFFF solid 1px;
	border-radius: 7px 7px 7px 7px;
	color: #FFFFFF;
}

#main {
	width: 100%;
	height: 85%; 
	font: 80% 'Yanone Kaffeesatz', arial, sans-serif;
	text-align: center;
	background: yellow;
	border: #FFFFFF solid 1px;
	border-radius: 7px 7px 7px 7px;
	color: #FFFFFF;
}

#information {
	width: 100%;
	height: 12%;
	text-align: center;
	background: yellow;
	background: linear-gradient(#ffffff, #FFD800);
	border: #000 solid 1px;
	border-radius: 7px 7px 7px 7px;
	color: black;
}

#field {
	width: 100%;
	height: 63%;
	text-align: center;
	background: blue;
	border: #FFFFFF solid 1px;
	border-radius: 7px 7px 7px 7px;
	-moz-border-radius: 7px 7px 7px 7px;
	-webkit-border: 7px 7px 7px 7px;
	color: black;
}

#controls {
	width: 100%;
	height: 25%;
	font: 100% 'Yanone Kaffeesatz', arial, sans-serif;
	text-align: center;
	background: yellow;
	background: linear-gradient(#FFD800, #ffffff);
	border: #000 solid 1px;
	border-radius: 7px 7px 7px 7px;
	color: black;
}

#canvasScreen {
/*	width: 100%; */
	height: 100%;
	background:#8BD83B;	
}

button{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	color: #FFFFFF;
	padding: 1px 1px;
	text-align: center;
	background: linear-gradient(#4CA20B, #506651);
	box-shadow: 5px 5px 3px rgba(0,0,0,0.5);	
	border: 2px solid #000;
	cursor: pointer;
	border-radius: 10px;
	user-select: none;
}

button:hover {
	background: linear-gradient(#acc7a3, #506651);
}
button:active {
	background: linear-gradient(#858565, #c5c9a9);
}

.buttonMenu{
	width: 30%;
	height: 100%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	color: #FFFFFF;
	padding: 1px 1px;
	text-align: center;
	background: linear-gradient(#4CA20B, #506651);
	box-shadow: 5px 5px 3px rgba(0,0,0,0.5);	
	border: 2px solid #000;
	cursor: pointer;
	border-radius: 10px;
	user-select: none;
}

.buttonMenu:hover {
	background: linear-gradient(#acc7a3, #506651);
}
.buttonMenu:active {
	background: linear-gradient(#858565, #c5c9a9);
}


#tableControls {
	width: 100%;
	height: 100%;
}

.tableControlsCells{
	width: 50%;
	height: 100%;
}


#tableControlsArrows {
	width: 100%;
	height: 100%;
}

.tableControlsArrowssCells{
	width: 30%;
	height: 30%;
}

.buttonControls {
	width: 100%;
	height: 100%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	color: #FFFFFF;
	padding: 1px 1px;
	text-align: center;
	background: linear-gradient(#4CA20B, #506651);
	border: 2px solid #000;
	cursor: pointer;
	border-radius: 10px;
	user-select: none;
}

.buttonControls:hover {
	background: linear-gradient(#acc7a3, #506651);
}
.buttonControls:active {
	background: linear-gradient(#858565, #c5c9a9);
}



.buttonControlsPush {
	width: 100%;
	height: 100%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	color: #FFFFFF;
	padding: 1px 1px;
	text-align: center;
	background: red;
	border: 2px solid #000;
	cursor: pointer;
	border-radius: 10px;
	user-select: none;
}

.buttonControlsPush:hover {
	background: linear-gradient(#acc7a3, #506651);
}
.buttonControlsPush:active {
	background: linear-gradient(#858565, #c5c9a9);
}

.dialogPar{
	font: 90% 'Yanone Kaffeesatz', arial, sans-serif;
	text-align: left;	
}
